.min-w0 { min-width: 0; }
.min-w1 { min-width: var(--max-width-1); }
.min-w2 { min-width: var(--max-width-2); }
.min-w3 { min-width: var(--max-width-3); }
.min-w4 { min-width: var(--max-width-4); }
.min-w5 { min-width: var(--max-width-5); }
.min-w6 { min-width: var(--max-width-6); }
.min-w7 { min-width: var(--max-width-7); }
.min-w8 { min-width: var(--max-width-8); }
.min-w9 { min-width: var(--max-width-9); }