.bsn { border-spacing: var(--spacing-0); }
.bs1 { border-spacing: var(--spacing-1); }
.bs2 { border-spacing: var(--spacing-2); }
.bs3 { border-spacing: var(--spacing-3); }
.bs4 { border-spacing: var(--spacing-4); }
.bs5 { border-spacing: var(--spacing-5); }
.bs6 { border-spacing: var(--spacing-6); }
.bs7 { border-spacing: var(--spacing-7); }