@hamburgueria60:registry=https://npm.pkg.github.com/hamburgueria60
//npm.pkg.github.com/:_authToken=cc2dacecf7aa6c09088ccbe30707535c1927fa41
//npm.pkg.github.com/hamburgueria60/:_authToken=cc2dacecf7aa6c09088ccbe30707535c1927fa41