.table {
  word-wrap: break-word;
}

.table td.actions md-icon {
  color: #ff9800;
  cursor: pointer;
}

.table th {
  text-align: left;
}

.actions, th.actions {
  text-align: center;
  width: 100px;
}

.table td {
  white-space: nowrap;
}

.table .action-hover:hover {
  background: #eee;
  cursor: pointer;
}

.table td md-icon {
  margin-right: 5px;
  cursor: default;
}

.table td.wrap {
  white-space: pre-wrap !important;
}
