.restaurant-dashboard {
  border-collapse: separate;
  border-spacing: 16px;
  box-sizing: border-box;
  margin: auto;

  &__order-details {
    width: 396.85px;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .restaurant-dashboard {
    display: block;
  }
}
