@import 'abstracts/mixins';

$small-icon-size: 24px;
$background-color: white;

.restaurant-dashboard-order-details-view {
  &__id {
    color: #999;
    display: inline-block;
    margin-left: 16px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }

  &__total {
    text-align: center;
  }

  &__metadata {
    $margin: 16px;
    border-collapse: separate;
    display: flex;
    justify-content: space-between;
    margin: 24px $margin;

    td {
      width: calc(100% / 3);
    }
  }

  &__metadata-item {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
  }

  &__order-table,
  &__owner,
  &__time {
    color: #999;
    font-weight: bold;
  }

  &__table {
    border-spacing: 16px;
    width: 100%;
  }

  &__table-row {
    border-bottom: 2px dashed #ddd;
  }

  &__quantity {
    padding-right: 8px;
  }

  &__item {
    padding: 8px 0;
    width: 100%;
  }

  &__item-primary-label {
    margin-top: 8px;
  }

  &__item-total {
    font-weight: bold;
    text-align: right;
  }

  &__item-name {
    font-weight: bold;
  }

  &__thanks {
    padding: 24px 16px;
    text-align: center;
  }
}
