@import 'all';

.left-nav {
  &__list {
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: 0;
    padding: 1rem 0 0 0;
  }

  &__item {
    &:hover {
      background: #333333;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &--notification {
      @include mdc-theme-prop(color, primary);
    }
  }

  &__icon {
    color: inherit;
    margin: 0 16px 0 0;
  }

  &__notification {
    @include mdc-theme-prop(background-color, primary);
    @include mdc-theme-prop(color, on-primary);

    border-radius: 8px;
    line-height: 1.25;
    margin-left: auto;
    padding: 0 8px;
    text-align: center;
  }

  &__version {
    font-size: 14px;
    margin: auto auto 0 auto;
    padding: 10px;
  }
}
